*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

a {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  transition: .2s all ease-in-out;
  color: inherit
}

button,
input {
  outline: 0;
  border: none
}

li {
  list-style: none
}

body,
html {
  width: 100%;
  font-weight: 400;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #23074d, #cc5333);
  color: #fffff0;
  font-size: 18px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%
}

.wrapper > * {
  width: 100%;
}
.header_container > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

.header_container > ul li {
  background-color: rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 0% 50% / 45% 90%;
  border: 2px solid transparent;
}

.header_container > ul li:hover {
  border: 2px solid #cc5333;
}

table {
  margin-top: 40px;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 20px;
}

table th {
  padding-bottom: 20px;
  border-bottom: 1px solid  rgba(255,255,255,0.4);
}

table td {
  vertical-align: top;
  padding: 20px;
}

table td a:hover {
  text-shadow: -10px -4px 2px #13042b;
}